[phases.setup]
nixPkgs = [
  "nodejs_22",
  "chromium",
  "nss",
  "nspr",
  "atk",
  "cups",
  "libdrm",
  "dbus",
  "libxkbcommon",
  "xorg.libX11",
  "xorg.libXcomposite",
  "xorg.libXdamage",
  "xorg.libXext",
  "xorg.libXfixes",
  "xorg.libXrandr",
  "xorg.libxcb",
  "mesa",
  "expat",
  "xorg.libXcursor",
  "xorg.libXi",
  "xorg.libXrender",
  "xorg.libXtst",
  "glib",
  "gtk3",
  "pango",
  "cairo",
  "alsa-lib",
  "at-spi2-atk",
  "at-spi2-core",
  "libxshmfence"
]

[phases.install]
cmds = ["npm i"]

[phases.build]
cmds = []

[start]
cmd = "npm start"
